/*This is CSS Comments*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.i1,.i2,.i3,.i4,.i5,.i6,.i7,.i8,.i9,.i10,.i11,.i12{
  background-color: rgb(255, 255, 255);
  color: white;
  
}

.mn1{
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.sidenav{
	zoom: 80%;
}
.container{
  width: 100vw;
  height: 100vh;
  display: grid;
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-template-areas: 

    'i1 i2 i3'
    'i4 i5 i6'
    'i7 i8 i9'
    'i10 i11 i12'
  ;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  
  gap: 10px 20px;
}

@media only screen and (max-width: 900px) {
	.col-s-1 {width: 8.33%;}
	.col-s-2 {width: 16.66%;}
	.col-s-3 {width: 25%;}
	.col-s-4 {width: 33.33%;}
	.col-s-5 {width: 41.66%;}
	.col-s-6 {width: 50%;}
	.col-s-7 {width: 58.33%;}
	.col-s-8 {width: 66.66%;}
	.col-s-9 {width: 75%;}
	.col-s-10 {width: 83.33%;}
	.col-s-11 {width: 91.66%;}
	.col-s-12 {width: 100%;}
   
body {
		zoom:60%;
	 height: auto;
	  overflow:auto;
	 
    }
}
img{
  width: 100px;
  height: 150px;
}


h1{
  color: rgba(63,65,78,255);
  margin: 10px;
}
.i1{
  grid-area: box1;  
}

.i2{
  grid-area: box2;
}
.i3{
  grid-area: box3;
}
.i4{
  grid-area: box4;
}
.i5{
  grid-area: box5;
}
.i6{
  grid-area: box6;
}
.i7{
  grid-area: box7;
}
.i8{
  grid-area: box8;
}
.i9{
  grid-area: box9;
}
.i10{
  grid-area: box10;
}
.i11{
  grid-area: box11;
}
.i12{
  grid-area: box12;
}
