/*This is CSS Comments*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.i1,.i2,.i3,.i4,.i5,.i6,.i7,.i8,.i9,.i10,.i11,.i12{
  background-color: rgb(255, 255, 255);
  color: white;
  
}


.sidenav{
	zoom: 40%;
}
.container{
  width: 100vw;
  height: 100vh;
  display: grid;
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  grid-template-areas: 

    'i1 i2 i3'
    'i4 i5 i6'
    'i7 i8 i9'
    'i10 i11 i12'
  ;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  
  gap: 30px 30px;
}



   
body {
		
	  height: auto;
	  overflow:auto;
	 
    }

img{
  width: 100px;
  height: 150px;
}


h1{
  color: rgba(63,65,78,255);
  margin: 10px;
}
.i1{
  grid-area: i1;  
}

.i2{
  grid-area: i2;
}
.i3{
  grid-area: i3;
}
.i4{
  grid-area: i4;
}
.i5{
  grid-area: i5;
}
.i6{
  grid-area: i6;
}
.i7{
  grid-area: i7;
}
.i8{
  grid-area: i8;
}
.i9{
  grid-area: i9;
}
.i10{
  grid-area: i10;
}
.i11{
  grid-area: i11;
}
.i12{
  grid-area: i12;
}
